@font-face {
    font-family: 'NanumSquareNeo';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff2);
    font-weight: 700;
    font-display: swap;
}
.upper_header {
    display: flex;
    justify-content: space-between;
    padding: 18px;
    align-items: center;
    text-align: center;
    font-size: 18px;
    height: 28px;
    line-height: 28px;
    border-bottom: 1px solid#e9e9e9;
}
.upper_header_left > li {
    gap: 10px;
}
.upper_header_left,
.upper_header_middle,
.upper_header_right,
.bottom_header{
    width: 400px;
}
.upper_header_left > li,
.upper_header_middle,
.bottom_header{
    display: flex;    
    align-items: center;
}
.upper_header_right {
    gap: 16px;
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
}
.upper_header_right > li > a > figure > img{
    height: 24px;
}
.nexon_card {
    width: 24px;
}
.login_link > p  {
    border: 2px solid#000;
    border-radius: 24px;
    padding:  4px 20px;
    font-weight: 800;
    transform: translateY(-4px);
}

/* 헤더 탑 끝 */

/* 헤터 바텀 시작 */
.bottom_header,
.bottom_header_middle,
.bottom_header_right{
    display: flex;    
    align-items: center;
}
.bottom_header {
    width: 100%;
    justify-content: space-between;
    padding: 14px 30px;
}
.bottom_header > a > img {
    width: 120px;
}
.bottom_header > a {
    padding-left: 50px;
}
 .bottom_header > a ,
 .bottom_header_right {
    width: 200px;
 }
.bottom_header_middle > li {
    font-size: 19px;
    padding: 0 50px;
}
.bottom_header_right {
    align-items: center;
}
.bottom_header_right > button {
    border: none;
    border-radius: 20px;
    background: none;
    background-color: #e2e2e2;
    width: 60px;
    height: 30px;
}
.bottom_header_right > button> img {
    width: 16px;
    color: #fff
}
/* 헤더 바텀 끝 */

/* section1 시작 */
.section_1 {
    width: 100%;
}
.section_1__bg {
    background: url(../image/section1/section1_1.png);
    width: 1695px;
    height: 330px;
    background-repeat: no-repeat;
    margin: 0 auto;
    align-items: left;
    padding: 80px 80px 30px 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.section_1_text {
    color: #fff;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section_1_text > h2 {
    font-size: 50px;
    font-weight: 700;
}
.section_1_text > p {
    font-size: 16px;
    font-weight: 500;
}
.choose_btn {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 0;
}
.btn_1,
.btn_2 {
    padding: 1px;
    color: #c8c8c8;
}
.btn_1 > p{    
    background-color: #fff;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    padding: 4px;
}
.choose_btn > p {
    background-color: #fff;
    padding: 6px 12px;
    font-size: 12px;
    color: #5e5e5e;
    font-weight: 600;
}
.choose_btn > p > span {
    color: #000;
}
.btn_2 > p {    
    background-color: #fff;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    padding: 4px;    
    margin-right: 10px;
}
.btn_3 {
    background-color: #fff;
    padding: 4px;
    border-radius: 50%;
    color: red;
}
/* 섹션1 top 끝 */
/* 섹션1 bottom 시작 */
.section_1_bottom,
.section_1_bottom_left > h2,
.notice_text {
    display: flex;
    gap: 8px;
}
.section_1_bottom {
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
}
.section_1_bottom_left {
    width: 600px;
}
.section_1_bottom_left > h2 {
    font-size: 24px;
    text-align: center;
    padding: 20px 0;
}
.section_1_bottom_left > h2 > div {
    background-color: #5e5e5e;
    width: 24px;
    height: 24px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
}
.notice_list {
    gap: 20px;
}
.notice_list > li {
    padding: 6px 0;
    position: relative;
}
.notice_list > li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 1px;
    background-color: #a4a4a4;
}
.notice_list > li > a > h2 {
    padding: 10px 0;
}
.notice_main_text {
    color: rgb(57, 57, 57);
    font-size: 12px;
    line-height: 12px;
    font-family: NanumSquareNeo;
    padding-bottom: 10px;
}
.notice_title {
    color: black;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
}
.notice {
    border: 1px solid#279aff;
    color: #279aff;
    padding: 4px 10px;
    border-radius: 20px;
    font-family: NanumSquareNeo;
    font-size: 14px;
    line-height: 14px;
}
.edit {
    border: 1px solid#f89191;
    color: #f89191;
    padding: 4px 10px;
    border-radius: 20px;
    font-family: NanumSquareNeo;
    font-size: 14px;
    line-height: 14px;
}
.new_notice {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background: linear-gradient(45deg,#ff5500,#ffb300);
}
.section_1_bottom_middle {
    align-items: center;
}
.login_circle {
    position: relative;
    background: url(../image/section2/icon_gameStart_on.png);
    width: 192px;
    height: 192px;
    transform: translateY(-200px);    
}
.login_circle > p {
    position: absolute;
    bottom: 15px;
    left: 25px;
    color: #fff;
    background-color: #e17800;
    width: 140px;
    height: 50px;
    text-align: center;
    border-bottom-left-radius: 600px;
    border-bottom-right-radius: 600px;
}
.section_1_bottom_right {
    width: 600px;
}
/* section_1_top끝 */
/* section_1_bottom 시작 */